version: '3'
services:
  directus:
    image: directus/directus:10.12.1
    ports:
      - 8055:8055
    volumes:
      - ./database:/directus/database
      - ./uploads:/directus/uploads
      - ./extensions:/directus/extensions
    environment:
      SECRET: 'SuperSecureRandomKey123!@#'
      ADMIN_EMAIL: 'root@root.com'
      ADMIN_PASSWORD: '12root34'
      DB_CLIENT: 'sqlite3'
      DB_FILENAME: '/directus/database/data.db'
      WEBSOCKETS_ENABLED: 'true'
      PUBLIC_URL: 'http://localhost:8055'
